@import './base.css';

#app {

  max-width: 1800px;
  min-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  font-size: 34px;
  font-style: italic;
  background-color: hsla(160, 100%, 37%, 0.2);
}
h1 {
  font-size: 45px;
  font-style: italic;
  color:#D13B18;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: grid;
    place-items: center;

  }

  #app {
    display: table-column-group;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
    background-color: hsl(0, 4%, 33%);
  }
}
